.field {
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.3);
	height: 56px;
	position: relative;
	transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out;
	width: 100%;
}

.field:hover {
	background-color: rgba(255, 255, 255, 0.45);
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.field.active input {
	padding: 24px 16px 8px 16px;
}

.field.active input + label {
	color: #512da8;
	opacity: 1;
	top: 4px;
}

.field input {
	background-color: transparent;
	border: none;
	border-radius: 4px;
	box-shadow: 0px 4px 20px 0px transparent;
	color: #282828;
	font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
	font-size: 16px;
	font-weight: 400;
	height: 56px;
	line-height: normal;
	outline: none;
	padding: 0px 16px;
	position: relative;
	transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out, 0.1s padding ease-in-out;
	width: 100%;
}

.field input + label {
	color: #FFF;
	font-size: 12px;
	font-weight: 600;
	left: 16px;
	line-height: 24px;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 24px;
	transition: 0.1s all ease-in-out;
}

.field input::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.8);
  }

.field input + label.error {
	color: #ec392f;
}