@font-face {
	font-family: 'Press Start 2p';
	src: url("../../assets/fonts/PressStart2P-Regular.ttf");
}

.hr {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: auto;
	width: 50%;
}

.hr hr {
	align-items: center;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.play-container h1 {
	font-family: "Press Start 2p";
	font-size: 28px;
	margin-bottom: 10px;
}

.players-position {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.players-dice {
	margin: 20px 0px;
}

.dices {
	margin: 20px 0px;
}

.dice-info {
	display: block;
	margin: 20px 0px;
}

.replay {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}