.cell {
	align-items: center;
	border: solid 1px black;
	display: inline-flex;
	flex-direction: row;
	height: 30px;
	justify-content: center;
	width: 30px;
}

.current-cell {
	background-color: black;
	color: white;
}