.start-button {
	align-items: center;
	background-color: lightgray;
	border-radius: 7px;
	box-shadow: 0 .2em gray; 
	color: gray;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	font-size: 30pt;
	font-weight: bold;
	justify-content: center;
	margin: 20px 0px;
	padding: 10px 0 10px 10px;
	text-align: center;
	text-decoration: none;
	text-shadow: -1px -1px black, 1px 1px white;
	width: 400px;
}

.start-button:active {
	box-shadow: none;
	position: relative;
	top: .2em;
}