@font-face {
	font-family: 'Press Start 2p';
	src: url("../../assets/fonts/PressStart2P-Regular.ttf");
}

.init-container {
	/* font-family: "Press Start 2p"; */
	/* background: #673ab7; */
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.input-number-players {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 300px;
}

.input-number-players label {
	display: block;
	font-size: 20px;
	margin-bottom: 20px;
}

.input-number-players input {
	width: 100%;
}